@using University.Models.InstructorViewModels;
@model InstructorActionViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-5 mb-4 text-center">Create Instructor</h2>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Department</label>
                    <select asp-for="DepartmentId" class="form-select" asp-items="@ViewBag.Departments"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="mb-4 col-md-4">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
