@model University.Models.InstructorViewModels.InstructorActionViewModel;

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-5 mb-4 text-center">Edit Instructor</h2>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="DepartmentId" class="form-label">Department</label>
                    <select asp-for="DepartmentId" class="form-select" asp-items="@ViewBag.Departments">
                        <option value="">Select Department</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-warning btn-block">Edit</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
